@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

:root {
    --text: 'Libre Baskerville', serif;
    --foreground: #eee;
    --background: #111;
}
