:root {
    --font-sans-serif: 'Open Sans', sans-serif;
    --font-serif: 'Merriweather', Georgia, serif;
    --light: #fffff5;
    --dark: #111;
    --link: rgb(25, 109, 235);
    --link-bright: rgb(142, 187, 255);
}
